C:\Users\legge\Desktop\DhevelopCourse\Esercizi\.vscode
C:\Users\legge\Desktop\DhevelopCourse\Esercizi\EserciziCSS
C:\Users\legge\Desktop\DhevelopCourse\Esercizi\EserciziHTML
C:\Users\legge\Desktop\DhevelopCourse\Esercizi\images
C:\Users\legge\Desktop\DhevelopCourse\Esercizi\LiveLessons
C:\Users\legge\Desktop\DhevelopCourse\Esercizi\TeamProjectLego